  <p>Current WindSpeed at school is {{windspeedresult}} mph.</p>
  <p>Current WindSpeed at school is {{Dewpointresult}} degree F.</p>
  <p> {{windspeedmessage}}</p>
  <p> {{Dewpointmessage}}</p>
  <p> Recommended Clothes for the weather described above.</p>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Product 1</h2>
    <img src="../../assets/windy.jpg">
  </div>

  <div class="column" style="background-color:#bbb;">
    <h2>Product 2</h2>
    <img src="../../assets/windy1.jpg">
  </div>

  <div class="column" style="background-color:#ccc;">
    <h2>Product 3</h2>
    <img src="../../assets/windy2.jpg"> 
  </div>

 </div>
